
<head>
  <title>TinyPerson</title>
</head>
<% if(!user.id){ %>
<form method="POST" action="/login"style="margin:25px;">

<li><a href="/login" class="btn btn-primary">Login</a></li>
<li><a href="/Register" class="btn btn-primary">New? Register Here</a></li>

</form>

 <% } else{ %>


 <li style="display: flex;">
<h3> Hello <%= user.email %> , Welcome to TinyApp </h3>

<form method="POST" action="/logout"style="margin:25px;">

<button style="display: flex"type="submit" value="logout" name="<%= user.email %>" class="btn btn-danger"> Logout! </button>
</li>
</form>


<% } %>

