<html lang="en">
<% include ./partials/_header %>

<body>



<form action="/urls/<%= shortURL%>/" method="POST" style="margin:150px;">
<h1>
  <label for="longURL" ">ShortURL : <%=shortURL %> </label>
</h1>

      <input id="longURL" type="text" name="longURL" value="<%=longURL['url'] %>" placeholder="http://" style="width: 300px">

      <input type="submit" value="Update">

    </form>

</body>
</html>