
<head>
  <title>TinyPerson</title>
</head>


<label for="Login" ">Please Login using your email and password</label>
    <form action="/login" method="POST" style="margin:25px;">

      <input id="email" type="email" name="email" value="" placeholder="JohnDoe@hotmail.com" style="width: 200px">
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 200px">

      <input type="submit" value="Submit">

    </form>











