<html lang="en">
  <head>

  </head>
  <body style="font-size:20px; padding:50px;">



<label for="Register" ">Please provide an email and password</label>
    <form action="" method="POST" style="margin:25px;">

      <input id="username" type="email" name="email" value="" placeholder="JohnDoe@hotmail.com" style="width: 200px">
      <input id="longURL" type="password" name="password" placeholder="Enter a password" style="width: 200px">

      <input type="submit" value="Submit">

    </form>

  </body>

</html>