<html lang="en">
<% include ./partials/_header %>
<body>
  <header>

  </header>

<form method="POST" action="/urls/<% key %>/delete">
  <% for (var key in urls) { %>
   <li> Long URLs : <%= urls[key] %> Short URLs : <%= key %> <button>Delete</button></li>


    <% } %></form>

    <li><a href="">Do you want to shorten your URL? Click me</a></li>





</body>
</html>