<html lang="en">
  <head>

  </head>
  <body style="font-size:20px; padding:50px;">

<h1> Register form </h1>

        <p class="alert alert-danger">

        </p>

<label for="/register" ">Please provide an email and password</label>
    <form action="/register" method="POST" style="margin:25px;">

      <input id="email" type="email" name="email" value="" placeholder="JohnDoe@hotmail.com" style="width: 200px">
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 200px">

      <input type="submit" value="Submit">

    </form>

  </body>

</html>